.navigation {
    border-radius: 10px;
    position: relative;
    width: 60px;
    height: 100%;
    background: #C8C2C2;
    transition: 0.5s;
    overflow: hidden;
}

.navigation:hover {
    width: 250px;
}

.navigation ul {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    margin: 0;
    height: 30px;
    padding-top: 10px;
    position: relative;
    width: 100%;
    list-style: none;
}

.navigation ul li:hover {
    background: #909F9A;
}

.navigation ul li p {
    position: relative;
    margin: 0;
    display: block;
    height: 20px;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #6A8BB4;
    cursor: pointer;
}

.navigation ul li p span {
    color: #6A8BB4;
}

.title {
    margin-top:0px;
}

.navigation ul li p .icon {
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    min-width: 60px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.navigation hr {
    margin: 5px;
    padding: 0;
    border-top: 1px solid #ffffff;
}