.navigation {
    position: relative;
    width: 256px;
    height: 100%;
    background: #C8C2C2;
    overflow: hidden;
}

.navigation > .toolbox {
    display: block;
}

.toolbox > .items {
    display: flex;
    height: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: fit-content;
    gap: 15px;
    background: #d1cdcd;
}

.item { 
    cursor: pointer;
    transition: 0.5s;
    padding: 2px;
    color: #6A8BB4;
}

.item-selected { 
    cursor: pointer;
    transition: 0.5s;
    color: #6A8BB4;
    padding: 2px;
    border-style: solid;
    border-width: 1px;
}

.item-selected:hover { 
    background: #b9b5b5;
}

.item:hover{
    background: #b9b5b5;
}

.toolbox > .title {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #6A8BB4;
}