.header-content {
    height: 60px;
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
    background-color: #345574;
    padding: 0;
}

.header-logo {
    float: left;
    height: 30px;
    padding-left: 20px;
    margin-top: 15px;
}
.header-content span {
    font-family: 'Courier New', Courier, monospace;
    color: #909F9A;
    font-size: 20px;
    padding-left: 20px;
    margin-top: 15px;
    display: flex;
}

.header-title {
    text-align: center;
}

.header-project-name {
    float:right;
}